doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="shortcut icon" href="/img/logomin.ico" type="image/x-icon")
    link(rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css")
    title Rhythm
  body
    .wrapper 
      header.header
        .header__container
          a.header__logo(href="#")
            img(src="/img/logo-text.svg", alt="Logotype")
          nav.header__menu.menu
            ul.menu__list
              each name in ['Store','Collections','Support']
                li.menu__item
                  a.menu__link(href="#")=name
      main.page
        section.page__main.main
          .main__container
            .main__content
              h1.main__title
                != 'Browse top quality <span>Guitars</span> online'
              p.main__text Explore 50k+ latest collections of branded guitars online with Rhythm.
              .main__actions.actions-main
                a.actions-main__button(href="#") Get the App
                .actions-main__icon
                  img(src="/img/googl-market.svg",alt="GooglePay")
                .actions-main__icon
                  img(src="/img/apple-logo.svg",alt="AppStore")
            .main__decor
              .main__image
                img(src="/img/header-img.png",alt="Main Decor")
        section.page__store.store
          .store__container
            h2.store__title.title
              !='Check out the <span>Store</span>'
            .store__body.body-store
              .body-store__header
                .body-store__title NEW ON THE BOARD
                a.body-store__all(href='#') view all
            .body-store__items
              .body-store__item
                a.item__image(href='#')
                  img(src="./img/1-1.png",alt="Guitars 1")
                a.item__title(href='#') The Essential Les Paul
                .item__price $1,299.00
              .body-store__item
                a.item__image(href='#')
                  img(src="./img/2-1.png",alt="Guitars 2")
                a.item__title(href='#') J-45 Standard
                .item__price $1,699.00
              .body-store__item
                a.item__image(href='#')
                  img(src="./img/3-1.png",alt="Guitars 3")
                a.item__title(href='#') Hummingbird Standard
                .item__price $2,099.00
              .body-store__item
                a.item__image(href='#')
                  img(src="./img/1-2.png",alt="Guitars 4")
                a.item__title(href='#') Active Precision Bass® PH V
                .item__price $4,199.00
              .body-store__item
                a.item__image(href='#')
                  img(src="./img/2-2.png",alt="Guitars 5")
                a.item__title(href='#') Redondo Special
                .item__price $2,800.00
              .body-store__item
                a.item__image(href='#')
                  img(src="./img/3-2.png",alt="Guitars 6")
                a.item__title(href='#') Professional II Stratocaster®
                .item__price $3,199.00
        section.page__categories.categories
          .categories__container
            h2.categories__title.title
              !='Choose based on <span>Categories</span>'
            .categories__items
              a.categories__item.item-category
                .item-category__title Acoustic
                .item-category__image
                  img(src="/img/1_kart.png",alt="Acoustic")
              a.categories__item.item-category
                .item-category__title Electric
                .item-category__image
                  img(src="/img/2_kart.png",alt="Electric")
              a.categories__item.item-category
                .item-category__title Basses
                .item-category__image
                  img(src="/img/3_kart.png",alt="Basses")
              a.categories__item.item-category
                .item-category__title Collections
                .item-category__image
                  img(src="/img/4_kart.png",alt="Collections")
        section.page__brands.brands
          .brands__container
            h2.brands__title.title
              !='Featuring the <span>Best Brands</span>'
            .brands__items
              .brands__item
                img(src="/img/ibanez.png ",alt="Brand Ibanez") 
              .brands__item
                img(src="/img/martin.png",alt="Brand Martin") 
              .brands__item
                img(src="/img/fender.png",alt="Brand Fender") 
              .brands__item
                img(src="/img/gibson.png ",alt="Brand Gibson") 
              .brands__item
                img(src="/img/Taylor.png",alt="Brand Taylor") 
              .brands__item
                img(src="/img/Gretsch.png",alt="Brand Gretsch") 
              .brands__item
                img(src="/img/takamine.png",alt="Brand Takamine") 
              .brands__item
                img(src="/img/seagull.png",alt="Brand Seagull")
        section.page__why.why
          .why__container
            h2.why__title.title
              != 'Why try <span>Rhythm?</span>'
            .why__items
              .why__item.item-why
                .item-why__icon
                  img(src="/img/Browsing.png",alt="Browsing")
                .item-why__title Smooth Browsing
                .item-why__text Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              .why__item.item-why
                .item-why__icon
                  img(src="/img/Delivery.png",alt="Delivery")
                .item-why__title EASY Delivery 
                .item-why__text Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              .why__item.item-why
                .item-why__icon
                  img(src="/img/payments.png",alt="Payment")
                .item-why__title SwiFT PAYMENTS
                .item-why__text Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        section.page__reviews.reviews
          .reviews__container
            h2.reviews__title.title
              !='What our <span>customer’s</span> say'
            .reviews__swiper.swiper-reviews.swiper
              .swiper-reviews__wrapper.swiper-wrapper
                .swiper-reviews__slide.slide-swiper-reviews.swiper-slide
                  .slide-swiper-reviews__picture
                    .slide-swiper-reviews__image
                      img(src="/img/Foto.jpg",alt="Foto")
                  .slide-swiper-reviews__body
                    .slide-swiper-reviews__text “The Quality and Delivery is always on time, being a professional guitarist myself I love the customer service the brand provides, highly recommend Rhythm anytime.”
                    .slide-swiper-reviews__author
                      .slide-swiper-reviews__name Ryan Wels
                      .slide-swiper-reviews__position PROFESSIONAL GUITARIST    
                .swiper-reviews__slide.slide-swiper-reviews.swiper-slide
                  .slide-swiper-reviews__picture
                    .slide-swiper-reviews__image
                      img(src="/img/Foto.jpg",alt="Foto")
                  .slide-swiper-reviews__body
                    .slide-swiper-reviews__text “The Quality and Delivery is always on time, being a professional guitarist myself I love the customer service the brand provides, highly recommend Rhythm anytime.”
                    .slide-swiper-reviews__author
                      .slide-swiper-reviews__name Ryan Wels
                      .slide-swiper-reviews__position PROFESSIONAL GUITARIST    
                .swiper-reviews__slide.slide-swiper-reviews.swiper-slide
                  .slide-swiper-reviews__picture
                    .slide-swiper-reviews__image
                      img(src="/img/Foto.jpg",alt="Foto")
                  .slide-swiper-reviews__body
                    .slide-swiper-reviews__text “The Quality and Delivery is always on time, being a professional guitarist myself I love the customer service the brand provides, highly recommend Rhythm anytime.”
                    .slide-swiper-reviews__author
                      .slide-swiper-reviews__name Ryan Wels
                      .slide-swiper-reviews__position PROFESSIONAL GUITARIST    
                .swiper-reviews__slide.slide-swiper-reviews.swiper-slide
                  .slide-swiper-reviews__picture
                    .slide-swiper-reviews__image
                      img(src="/img/Foto.jpg",alt="Foto")
                  .slide-swiper-reviews__body
                    .slide-swiper-reviews__text “The Quality and Delivery is always on time, being a professional guitarist myself I love the customer service the brand provides, highly recommend Rhythm anytime.”
                    .slide-swiper-reviews__author
                      .slide-swiper-reviews__name Ryan Wels
                      .slide-swiper-reviews__position PROFESSIONAL GUITARIST    
              .swiper-reviews__pagination.swiper-pagination
        section.page__favorite.favorite
          .favorite__container
            .favorite__body
              h2.favorite__title.title
                != 'Browse and buy your <span>favorite guitars</span> with Rhythm.'
              .favorite__apps.apps-favorite
                a.apps-favorite__item(href="#")
                  img(src="/img/googlepay-logo.png",alt="GoogleStore")
                a.apps-favorite__item(href="#")
                  img(src="/img/appstorelogo.png",alt="AppStore")
            .favorite__images
              img(src="/img/GroupScreen.png",alt="Store Screen")
      footer.footer
        .footer__container
          .footer__body.body-footer
            .body-footer__column
              a(href='#',class="body-footer__logo")
                img(src="/img/Group 296.svg",alt="Footer logo")
              ul.body-footer__contacts.contacts-footer
                li.contacts-footer___item
                  a.contacts-footer__link.contacts-footer__link_mail(href='mailto:Enquiry@Rhythm.com') Enquiry@Rhythm.com
                li.contacts-footer__item
                  a.contacts-footer__link.contacts-footer__link_location(href='#') San Francisco
            .body-footer__column.body-footer__column_full
              nav.body-footer__menu.menu-footer
                .menu-footer__column
                  .menu-footer__title Pages
                  ul.menu-footer__list
                    li.menu-footer__item
                      a.menu-footer__link(href='#') Store
                    li.menu-footer__item
                      a.menu-footer__link(href='#') Collections
                    li.menu-footer__item
                      a.menu-footer__link(href='#') Support
                .menu-footer__column
                  .menu-footer__title Product
                  ul.menu-footer__list
                    li.menu-footer__item
                      a.menu-footer__link(href='#') Terms
                    li.menu-footer__item
                      a.menu-footer__link(href='#') Privacy Policy
                    li.menu-footer__item
                      a.menu-footer__link(href='#') Copyright
                .menu-footer__column
                  .body-footer__social.social-footer
                    .social-footer__title Follow us
                    .social-footer__items
                      a.menu-footer__link(href='#')
                        img(src="/img/Facebook.png",alt="Facebook")
                      a.menu-footer__link(href='#')
                        img(src="/img/Twitter.png",alt="Twitter")
                      a.menu-footer__link(href='#')
                        img(src="/img/Instagram.png",alt="Instagram")
          .footer__copy © 2022 Copyright.Rhythm
    script(src="https://unpkg.com/swiper@8/swiper-bundle.min.js")
    script(src='js/script.js')


